.popup {
  background: $grayLight;
  max-width: 400px;
  margin: auto;
  padding: 3em 2em;
  @media (min-width: 401px) {
    position: relative;
  }
  hr {
    margin: 2em 0;
  }
  p {
    margin: 5px 0;
  }
  ul {
    list-style: disc;
    padding-left: 20px;
    margin: 10px 0;
    li {
      margin: 5px;
      a {
        display: inline-block;
        padding: 5px;
      }
    }
  }
}