// out: ../css/styles.css, sourcemap: true, compress: false, libs: nib rupture mdi-stylus

@import 'nib'
@import 'nib/reset'

global-reset()

@import '_fonts'
@import '_vars'
@import '_parallax'


html, body
  width: 100%
  overflow-x: hidden
  min-height: 100%
  min-height: 100vh
body
  background-color: $grayBackground
  letter-spacing: 1px
  font-family: Lato, Verdana, Arial, sans-serif
  +below(700px)
    font-size: 0.9em
  +below(400px)
    font-size: 0.7em
*
  box-sizing: border-box
a, button
  user-select none
nav a
  color: inherit
  text-decoration: none
  transition color 200ms ease-in-out
  &:hover
    color: $redLight
h2
  text-align: center
  color: $redDark
  margin: 1.5em auto
  font-size: 2em
  font-weight: 700
h3
  text-align: left
  color: $redDark
  font-size: 1.8em
  margin-bottom: .2em
  small
    font-size: 0.6em
    font-style: italic
#header
  height: 3em
  min-height: 44px
  overflow: hidden
  padding: 5px
  color: $grayDark
  +between(701px,850px)
    font-size: 0.8em
  .logo-small
    display: inline-block
    margin: 0 20px
    color: $redDark
    font-weight: 500
    .name
      display: inline-block
      vertical-align: middle
      span + span:before
        content: "-"
        margin: 0 3px
      +between(701px, 1000px)
        span
          display: block
          &:before
            display: none
      +below(351px)
        span
          display: block
          &:before
            display: none
    text-decoration: none
    text-transform: uppercase
    img
      display: inline-block
      vertical-align: middle
      margin-right: 10px
      width: $smallLogoDim
      height: $smallLogoDim
  nav
    display: inline-block
    float: right
    li
      display: inline-block
      text-transform: uppercase
      margin: 0 20px
      line-height: $smallLogoDim
#cover
  color: #fff
  position: relative
  overflow: hidden
  width: 100%
  padding-bottom: ($bigLogoDim / 2)
  .main
    parallax_group()
    section-shadow()
    padding: 6em 0 ($bigLogoDim / 2)
    .background
      display: block
      background-size: cover
      background-color: $redDark
      background-position: center center
      background-repeat: no-repeat
    &:before
      content: ''
      display: block
      z-index: 10
      width: 50%
      background: #fff
      opacity: .17
      position: absolute
      top: 0
      right: 0
      height: 100%
      transform matrix(1.747, 0, -0.297, 0.994, 237.645, 0.419)
  h1
    antialiasing()
    foreground()
    text-shadow 2px 2px 5px $grayDark
    position: relative
    font-size: 9em
    font-size: 9vw
    font-family: Albertus, Open Sans, Arial, sans-serif
    letter-spacing: initial
    text-align: center
    line-height: .8em
    +below(1200px)
      font-size: 7em
      font-size: 11vw
    +below(900px)
      font-size: 4em
      font-size: 13vw
    small, span
      display: block
    small
      font-size: 0.4em
  .logo-big
    transform translateZ(0) scale(1)
    pointer-events: none
    position: absolute
    z-index: 100
    bottom: 5px
    text-align: center
    width: 100%
    .logo-big-in
      background: $gold
      position: relative
      z-index: 2
      height: $bigLogoDim
      width: $bigLogoDim
      max-width: $bigLogoMaxDim
      max-height: $bigLogoMaxDim
      box-shadow 1px 3px 6px -1px #434343
      border-radius 50%
      margin: auto
      overflow: hidden
      img
        height: 100%
        width: 100%
        height: $bigLogoDim
        width: $bigLogoDim
        max-width: $bigLogoMaxDim
        max-height: $bigLogoMaxDim
  .social-engage-cont
    &:after
      content: ""
      display: block
      background: $grayBackground
      width: 100%
      height 'calc(%s + 4px)' % ($bigLogoDim / 2)
      position: absolute
      z-index: 1
.no-pointer-events
  .logo-big
    height: $bigLogoDimPerc
    width: $bigLogoDimPerc
    height: $bigLogoDim
    width: $bigLogoDim
    max-width: $bigLogoMaxDim
    max-height: $bigLogoMaxDim
    margin: auto
    .logo-big-cont
      width: 100%
      height: 100%
.social-engage-cont
  transform translateZ(0) scale(1)
  position: relative
  z-index: 5
  white-space: nowrap
  font-size: 1.3em
  font-weight: bold
  +below(700px)
    font-size: 1em
  +below(500px)
    .verb
      display: none
  > div
    display: inline-block
    width: 50%
    margin: 0
    padding: .2em 1.5em .3em
  .youtube
    background: $redLight
  .facebook
    background: $blueFacebook
  .right
    text-align: right
  a
    color: #fff
    text-decoration: none
    vertical-align sub
    .mdi
      margin-left: 15px
      font-size: 1.6em
      display: inline
      line-height: 0.3
      vertical-align: sub
.image
  transition all 200ms ease-in-out
  overflow: hidden
  border: 3px solid #fff
  background: #fff
  margin: 5px 4em
  +below(900px)
    margin: 5px 3em
  +below(700px)
    margin: 5px auto 2em
  contain()
  material-shadow()
  &.adaptive
    +above(701px)
      width: 40em
      margin: 2em auto
    margin: 2em 1em
  &.round
    height: $roundImgDim
    width: $roundImgDim
    border-radius 50%
  img
    contain()
    border-radius inherit

.summary-box
  width: 100%
  max-width: 900px
  +below(900px)
    padding: 1em

  clearfix()
  margin: 6em auto
  overflow: hidden
  p
    margin 0 2em !important
  +above(701px)
    &:nth-of-type(odd)
      .image
        float: left
      .button
        float: right
    &:nth-of-type(even)
      .image
        float: right
      .button
        float: left

.container
  p, .image-cont
    width: 100%
    max-width: 900px
    margin: 2em auto
    padding: 1em
    text-align: center
  p
    text-align: left
    font-size: 1.3em
    line-height: 1.4em
    strong
      color: $redDark
      &.stronger
        font-size: 1.3em
        font-weight: bold

.container p a, a.red-link
  color: $redLight
  &:hover
    color: #000

.button
  text-transform: uppercase
  text-decoration: none
  text-align: center
  font-size: 1.2em
  font-weight: bold
  min-width: 12em
  display: inline-block
  padding: 7px 20px
  background: transparent
  border: 2px solid $redDark
  color: $redDark
  border-radius 20px
  transition all 200ms ease-in-out
  &:hover
    color: #fff
    background: $redLight
    border-color: $redLight
  &:active
    transform(translateY(2px))
    color: #fff
    background: $redLight
    border-color: $redDark
  &.dark
    background: rgba(255, 255, 255, 0.87)
    color: $grayDark
    border: none
    &:hover
      color: $redDark
      background: #fff
.parallax-item
  height: 20em
  width: 100%
  text-align: center
  overflow: hidden
  position: relative
  background-color: $grayDark
  h1
    text-shadow 2px 2px 5px $grayDark
    antialiasing()
    color: #fff
    font-size: 7em
    font-family Open Sans, Arial, sans-serif
    letter-spacing: initial
    position: absolute
    bottom: .5em
    left: 0
    right: 0
    +above(651px)
      text-align: right
      right: .5em
    +below(1200px)
      font-size: 5em
    +below(900px)
      font-size: 3em
  .background
    section-shadow()
    height: 160%
    background-color: #000
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
  .button
    display: inline-block
    margin: 6em auto
    position: relative
  &:not(.titling)
    @media (max-aspect-ratio: 3/4)
      height: 40em
      height: calc(20em + 20vh)
      .button
        margin: 12em auto
        margin: calc(6em + 10vh) auto
    @media (min-height: 900px)
      height: 40em
      height: calc(20em + 20vh)
      .button
        margin: 12em auto
        margin: calc(6em + 10vh) auto
#footer
  clearfix()
  background: $grayDark
  color: $grayLight
  .footer-title
    color: $redLight
    text-transform: uppercase
    border-bottom: 2px solid transparentize($grayLight, 0.8)
    font-weight: bold
    font-size: 1.2em
    line-height: 1.2em
    padding: 3em 0
    +below(700px)
      display: none
    img
      float: left
      height: $footerLogoDim
      width: $footerLogoDim
      margin-right: 20px
    span
      display: block
  .footer-block
    padding: 1em
    +above(701px)
      display flex
      flex-direction row
      justify-content space-between
  nav
    flex 3
    display: block
    vertical-align: top
    +below(700px)
      text-align: center
      padding-bottom: 2em
      margin-bottom: 2em
      border-bottom: 2px solid transparentize($grayLight, 0.8)
    li
      margin: 5px
      a
        display: block
        padding: 7px 0
        +below(700px)
          padding: 1em 0
  section
    h1
      font-weight: bold
      text-transform: uppercase
      margin-bottom: 10px
  .contacts
    flex 2
    display: block
    vertical-align: top
    margin: 0 10px
    text-align: right
    +below(700px)
      text-align: center
    +below(350px)
      max-width: 200px
      margin: auto
    li
      display: inline-block
      margin: 0 10px 1em
      &:first-child
        margin-left: 0
      &.company-action
        +above(701px)
          display: none
    a
      color: $grayLight
      display: inline-block
      height: $contactRoundDim
      width: $contactRoundDim
      border: 2px solid $grayLight
      border-radius: 50%
      font-size: ($contactRoundDim / 2)
      line-height: ($contactRoundDim + 6)
      text-align: center
      text-decoration: none
      position: relative
      transition all 200ms ease-in-out
      &:hover
        color: $redLight
        border-color: $redLight
  .company-data
    display: inline-block
    color: #fff
    padding: 0 10px
    & + .company-data
      border-left: 1px solid $redLight
    &:first-child
      padding-left: 0
      border: none
    &:last-child
      padding-right: 0
  .copy
    font-size: .8em
    line-height: 1.5em
    text-align: center
    margin: 3em 0 1.5em
    a, span
      white-space: nowrap
    a
      text-decoration: none
      transition all 200ms ease-in-out
      &:hover
        color: $redLight
      &.red-link
        color: $redLight
        &:hover
          color: #fff

article
  padding: 3em 0
.image-cont
  margin: 2em 0
  +above(601px)
    display flex
    justify-content space-between
  .image
    min-height: 5em
    +above(601px)
      max-width: 15em
figcaption
  color: $grayDark
  padding: .2em
$roleMinDim = 9em
.organogram
  text-align: center
  ul
    display: inline-block
    margin: 0 auto 3em
    line-height: 1.2em
    li
      text-align: left
      margin-bottom: 1em
      span
        display: inline-block
        margin-left: calc($roleMinDim + 9px)
      label
        display: inline-block
        vertical-align: top
        color: $redDark
        min-width: $roleMinDim
        text-align: right
        font-variant: small-caps
        + span
          margin-left: 5px
