/* colors */
$grayLight: #fff8f8;
$grayBackground: #edf2f4;
$grayDark: #1d1d1d;
$redLight: #ca4646;
$redDark: #962323;
$blueFacebook: #3b5998;
$gold: #d9b500;

/* dimensions */
$smallLogoDim: 35px;
$footerLogoDim: 46px;
$bigLogoDim: 15vw;
$bigLogoMaxDim: 180px;
$roundImgDim: 180px;
$contactRoundDim: 40px;

/* mixins */
@mixin antialiasing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin contain {
  //noinspection CssUnknownProperty
  max: {
    width: 100%;
    height: 100%;
  }
}

@mixin material-shadow {
  @include box-shadow(0 0 6px 4px #c5c5c5);
}

@mixin section-shadow {
  @include box-shadow(inset 0 -7px 10px 3px rgba(29, 29, 29, 0.79));
}
