@import "compass/reset";
@import "compass";
@import "fonts";
@import "../../bower_components/magnific-popup/src/css/main";
@import "vars";
@import "popup";
@import "parallax";

html, body {
  width: 100%;
  overflow-x: hidden;
  min-height: 100%;
  min-height: 100vh;
}

body {
  background-color: $grayBackground;
  letter-spacing: 1px;
  font-family: Lato, Verdana, Arial, sans-serif;

  @media (max-width: 700px) {
    font-size: 0.9em;
  }

  @media (max-width: 400px) {
    font-size: 0.7em;
  }

}

* {
  box-sizing: border-box;
}

a, button {
  @include user-select(none);
}

nav a {
  color: inherit;
  text-decoration: none;
  @include transition(color 200ms ease-in-out);
  &:hover {
    color: $redLight;
  }
}

.container {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

h2 {
  text-align: center;
  color: $redDark;
  margin: 1.5em auto;
  font: {
    size: 2em;
    weight: 700;
  }
}

h3 {
  text-align: left;
  color: $redDark;
  font-size: 1.8em;
  margin-bottom: .2em;
  small {
    font: {
      size: 0.6em;
      style: italic;
    }
  }
}

#header {
  height: 3em;
  min-height: 44px;
  overflow: hidden;

  padding: 5px;
  color: $grayDark;
  @media (min-width: 701px) and (max-width: 850px) {
    font-size: 0.8em;
  }
  .logo-small {
    display: inline-block;
    margin: 0 20px;
    color: $redDark;
    font-weight: 500;
    .name {
      display: inline-block;
      vertical-align: middle;
      span + span:before {
        content: "-";
        margin: 0 3px;
      }
      @media (min-width: 701px) and (max-width: 1000px) {
        span {
          display: block;
          &:before {
            display: none;
          }
        }
      }
      @media (max-width: 351px) {
        span {
          display: block;
          &:before {
            display: none;
          }
        }
      }
    }
    text: {
      decoration: none;
      transform: uppercase;
    }

    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      width: $smallLogoDim;
      height: $smallLogoDim;
    }
  }
  nav {
    display: inline-block;
    float: right;
    li {
      display: inline-block;
      text-transform: uppercase;
      margin: 0 20px;
      line-height: $smallLogoDim;
    }
  }
}

#cover {
  color: #fff;
  position: relative;
  overflow: hidden;
  width: 100%;

  padding-bottom: 7em;
  padding-bottom: $bigLogoDim / 2;
  .main {
    @extend .parallax-group;
    padding: 6em 0 7em;
    padding: 6em 0 $bigLogoDim / 2;
    // background-color: $redDark;

    @include section-shadow;

    .background {
      display: block;
      background:{
        size: cover;
        color: $redDark;
        position: center center;
        repeat: no-repeat;
      }
    }
    &:before {
      content: '';
      display: block;
      z-index: 10;
      width: 50%;
      background: #fff;
      opacity: .17;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      @include transform(matrix(1.747, 0, -0.297, 0.994, 237.645, 0.419));
    }
  }

  h1 {
    @extend .foreground;
    @include text-shadow(2px 2px 5px $grayDark);
    @include antialiasing;
    position: relative;

    font-size: 9em;
    font-size: 9vw;
    font-family: Albertus, Century Gothic, Times New Roman, serif;
    letter-spacing: initial;
    text-align: center;
    line-height: .8em;

    @media (max-width: 1200px) {
      font-size: 7em;
      font-size: 11vw;
    }
    @media (max-width: 900px) {
      font-size: 4em;
      font-size: 13vw;
    }
    small, span {
      display: block;
    }
    small {
      font-size: 0.4em;
    }
  }

  .logo-big {
    @include transform(translateZ(0) scale(1));
    pointer-events: none;
    position: absolute;
    z-index: 100;
    bottom: 5px;
    text-align: center;
    width: 100%;
    .logo-big-in {
      background: $gold;
      position: relative;
      z-index: 2;
      height: auto;
      width: $bigLogoDimPerc;
      height: $bigLogoDim;
      width: $bigLogoDim;
      max: {
        width: $bigLogoMaxDim;
        height: $bigLogoMaxDim;
      }
      @include box-shadow(1px 3px 6px -1px #434343);
      @include border-radius(50%);
      margin: auto;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
        height: $bigLogoDim;
        width: $bigLogoDim;
        max: {
          width: $bigLogoMaxDim;
          height: $bigLogoMaxDim;
        }
      }
    }
  }
  .social-engage-cont {
    &:after {
      content: "";
      display: block;
      background: $grayBackground;
      width: 100%;
      height: 200%;
      height: calc(#{$bigLogoDim/2} + 4px);
      position: absolute;
      z-index: 1;
    }
  }
}

.no-pointer-events {
  .logo-big {
    height: $bigLogoDimPerc;
    width: $bigLogoDimPerc;
    height: $bigLogoDim;
    width: $bigLogoDim;
    max: {
      width: $bigLogoMaxDim;
      height: $bigLogoMaxDim;
    }
    margin: auto;
    .logo-big-cont {
      width: 100%;
      height: 100%;
    }
  }
}

.social-engage-cont {
  @include transform(translateZ(0) scale(1));
  position: relative;
  z-index: 5;
  white-space: nowrap;
  font: {
    size: 1.3em;
    weight: bold;
  }

  @media (max-width: 700px) {
    font-size: 1em;

  }
  @media (max-width: 500px) {
    .verb {
      display: none;
    }
  }
  > div {
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: .2em 1.5em .3em;
  }
  .youtube {
    background: $redLight;
  }
  .facebook {
    background: $blueFacebook;
  }
  .right {
    text-align: right;
  }
  a {
    color: #fff;
    text-decoration: none;
    &:after {
      @extend .icon;
      content: $angle-right;
      margin-left: 15px;
      vertical-align: sub;
      font-size: 1.3em;
    }
  }
}

.image {
  @include transition(all 200ms ease-in-out);
  overflow: hidden;

  border: 3px solid #fff;
  background: #fff;

  margin: 5px 4em;
  @media (max-width: 900px) {
    margin: 5px 3em;
  }
  @media (max-width: 700px) {
    margin: 5px auto 2em;
  }
  @include contain;
  @include material-shadow;

  &.adaptive {
    @media (min-width: 701px) {
      width: 40em;
      margin: 2em auto;
    }
    margin: 2em 1em;
  }

  &.round {
    height: $roundImgDim;
    width: $roundImgDim;
    @include border-radius(50%);
  }
  img {
    @include contain;
    @include border-radius(inherit);
  }
}

section.section {
  @include clearfix;
  margin: 6em auto;
  overflow: hidden;
  @media (min-width: 701px) {
    &:nth-of-type(even) {
      .image {
        float: left;
      }
      .button {
        float: right;
      }
    }
    &:nth-of-type(odd) {
      .image {
        float: right;
      }
      .button {
        float: left;
      }
    }
  }
  .button {
    margin: 20px auto;
  }
}

.description {
  margin: 5px 4em;
  text-align: center;
  @media (max-width: 900px) {
    margin: 5px 3em;
  }
  @media (max-width: 700px) {
    margin: 5px 4em;
  }
  p {
    text-align: left;
    font-size: 1.3em;
    line-height: 1.4em;
    strong {
      color: $redDark;
      &.stronger {
        font: {
          size: 1.3em;
          weight: bold;
        }
      }
    }
  }
}

.button {
  text: {
    transform: uppercase;
    decoration: none;
    align: center;
  }
  font: {
    size: 1.2em;
    weight: bold;
  }

  min-width: 12em;
  display: inline-block;
  padding: 7px 20px;
  background: transparent;
  border: 2px solid $redDark;
  color: $redDark;

  @include border-radius(20px);
  @include transition(all 200ms ease-in-out);

  &:hover {
    color: #fff;
    background: $redLight;
    border-color: $redLight;
  }
  &:active {
    @include transform(translateY(2px));
    color: #fff;
    background: $redLight;
    border-color: $redDark;
  }

  &.dark {
    background: rgba(255, 255, 255, 0.87);
    color: $grayDark;
    border: none;
    &:hover {
      color: $redDark;
      background: #fff;
    }
  }
}

.parallax-item {
  height: 20em;
  width: 100%;

  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: $grayDark;

  h1 {
    @include text-shadow(2px 2px 5px $grayDark);
    @include antialiasing;

    color: #fff;
    font-size: 7em;
    font-family: Albertus, Century Gothic, Times New Roman, serif;
    letter-spacing: initial;
    position: absolute;
    bottom: .5em;
    left: 0;
    right: 0;
    @media (min-width: 651px) {
      text-align: right;
      right: .5em;
    }
    @media (max-width: 1200px) {
      font-size: 5em;
    }
    @media (max-width: 900px) {
      font-size: 3em;
    }

  }

  .background {
    @include section-shadow;
    height: 160%;
    background: {
      color: #000;
      position: center center;
      repeat: no-repeat;
      size: cover;
    }
  }
  .button {
    display: inline-block;
    margin: 6em auto;
    position: relative;
  }
  &:not(.titling) {
    @media (max-aspect-ratio: 3/4) {
      height: 40em;
      height: calc(20em + 20vh);
      .button {
        margin: 12em auto;
        margin: calc(6em + 10vh) auto;
      }
    }
    @media (min-height: 900px) {
      height: 40em;
      height: calc(20em + 20vh);
      .button {
        margin: 12em auto;
        margin: calc(6em + 10vh) auto;
      }
    }
  }

}

#footer {
  @include clearfix;
  background: $grayDark;
  color: $grayLight;

  .footer-title {
    color: $redLight;
    text-transform: uppercase;
    border-bottom: 2px solid transparentize($grayLight, .8);
    font: {
      weight: bold;
      size: 1.2em;
    }
    line-height: 1.2em;
    padding: 3em 0;
    @media (max-width: 700px) {
      display: none;
    }
    img {
      float: left;
      height: $footerLogoDim;
      width: $footerLogoDim;
      margin-right: 20px;
    }
    span {
      display: block;
    }
  }
  .footer-block {
    padding: 1em;
    @media (min-width: 701px) {
      @include display-flex();
      @include flex-direction(row);
      @include justify-content(space-between);
    }
  }
  nav {
    @include flex(3);
    display: block;
    vertical-align: top;
    @media (max-width: 700px) {
      text-align: center;
      padding-bottom: 2em;
      margin-bottom: 2em;
      border-bottom: 2px solid transparentize($grayLight, .8);
    }
    li {
      margin: 5px;
      a {
        display: block;
        padding: 7px 0;
        @media (max-width: 700px) {
          padding: 1em 0;
        }
      }
    }
  }
  section {
    h1 {
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }
  .contacts {
    @include flex(2);
    display: block;
    vertical-align: top;
    margin: 0 10px;
    text-align: right;
    @media (max-width: 700px) {
      text-align: center;
    }
    @media (max-width: 350px) {
      max-width: 200px;
      margin: auto;
    }
    li {
      display: inline-block;
      margin: 0 10px 1em;
      &:first-child {
        margin-left: 0;
      }
      &.company-action {
        @media (min-width: 701px) {
          display: none;
        }
      }
    }
    a {
      color: $grayLight;
      display: inline-block;
      height: $contactRoundDim;
      width: $contactRoundDim;
      border: 2px solid $grayLight;
      border-radius: 50%;
      font-size: $contactRoundDim / 2;
      line-height: $contactRoundDim - 4;
      text: {
        align: center;
        decoration: none;
      }
      position: relative;
      @include transition(all 200ms ease-in-out);

      &:hover {
        color: $redLight;
        border-color: $redLight;
      }
    }
  }

  span.company-data {
    @media (min-width: 701px) {
      display: none;
    }
    & + span.company-data {
      border-left: 1px solid $redLight;
    }
  }
  a.company-data {
    @media (max-width: 700px) {
      display: none;
    }
    border-left: 1px solid $redLight;
    &:first-child {
      padding-left: 0;
      border: none;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  .company-data {
    display: inline-block;
    color: #fff;
    padding: 0 10px;
  }
  .copy {
    font-size: .8em;
    line-height: 1.5em;
    text-align: center;

    margin: 3em 0 1.5em;
    a, span {
      white-space: nowrap;
    }
    a {
      text-decoration: none;
      @include transition(all 200ms ease-in-out);

      &:hover {
        color: $redLight;
      }
      &.red-link {
        color: $redLight;
        @media (max-width: 700px) {
          display: inline-block;
          min: {
            width: 8em;
            height: 3em;
          }
          line-height: 4em;
        }
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

a.red-link {
  color: $redLight;
  &:hover {
    color: #000;
  }
}

article {
  padding: 3em 0;
}

.image-cont {
  margin: 2em 0;
  @media (min-width: 601px) {
    @include display-flex;
    @include justify-content(space-between);
  }
  .image {
    min-height: 5em;
    @media (min-width: 601px) {
      max-width: 15em;
    }
  }
}

figcaption {
  color: $grayDark;
  padding: .2em;
}

$roleMinDim: 9em;
.organogram {
  text-align: center;
  ul {
    display: inline-block;
    margin: 0 auto 3em;
    line-height: 1.2em;
    li {
      text-align: left;
      margin-bottom: 1em;
      span {
        display: inline-block;
        margin-left: calc(#{$roleMinDim} + 9px);
      }
      label {
        display: inline-block;
        vertical-align: top;
        color: $redDark;
        min-width: $roleMinDim;
        text-align: right;
        font: {
          variant: small-caps;
        }

        + span {
          margin-left: 5px;
        }
      }
    }

  }
}