<header id="header">
  <a target="_top" class="logo-small" href="index.html">
    <img src="img/logos/logo-mono.png">

    <p class="name">
      <span>Santa Cecilia</span>
      <span>Citt&agrave; di Molfetta</span>
    </p>
  </a>
  <nav>
    <ul>
      <li><a target="_top" href="associazione.html">L'Associazione</a></li>
      <li><a target="_top" href="maestro.html">Il Maestro</a></li>
      <li><a target="_top" href="scuolamusica.html">La Scuola di Musica</a></li>
    </ul>
  </nav>
</header>
