<footer id="footer">
    <h1 class="footer-title">
      <img class="logo-small lazy" src="img/logos/logo-mono-light.png">
      <span>Associazione Culturale Musicale</span>
      <span>"Santa Cecilia - Citt&agrave; di Molfetta"</span>
    </h1>

    <div class="footer-block">
      <nav>
        <ul>
          {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %} {% for p in navigation_pages %} {% if p.navigation_weight %}
          <li>
            <a href="{{ p.url }}" {% if p.url==page.url %} {% endif %}>
              {{ p.shorttitle | default: p.title }}
            </a>
          </li>
          {% endif %} {% endfor %}
        </ul>
      </nav>
      <section class="contacts">
        <ul>
          <li class="company-action">
            <a class="mdi mdi-map" target="_blank" title="La nostra sede" href="https://www.google.it/maps/place/Via+Santa+Caterina,+14/@41.202885,16.5965133,17z/data=!4m3!3m2!1s0x1347f9b863aa4cdf:0x40c92dfc15718501!4b1">
            </a>
          </li>
          <li class="company-action">
            <a class="mdi mdi-email-variant" href="mailto:info@santaceciliamolfetta.it" target="_blank" title="Scrivici una mail">
            </a>
          </li>
          <li>
            <a class="mdi mdi-instagram" href="https://www.instagram.com/bandasantaceciliamolfetta/" target="_blank" title="Pagina Facebook">
            </a>
          </li>
          <li>
            <a class="mdi mdi-facebook" href="https://www.facebook.com/sceciliamolfetta" target="_blank" title="Pagina Facebook">
            </a>
          </li>
          <li>
            <a class="mdi mdi-youtube" href="https://www.youtube.com/channel/UCC3dMySkby9c7uyYBavzIgA" target="_blank" title="Canale YouTube"></a>
          </li>
        </ul>
      </section>
    </div>
    <div class="copy">
      <p>
        <span>&copy; 2015 Associazione Culturale Musicale</span>
        <span>"Santa Cecilia - Citt&agrave; di Molfetta"</span>
      </p>

      <p>
        <a target="_blank" class="company-data" href="https://www.google.it/maps/place/Via+Santa+Caterina,+14/@41.202885,16.5965133,17z/data=!4m3!3m2!1s0x1347f9b863aa4cdf:0x40c92dfc15718501!4b1">
          via S. Caterina, 14 - 70056 Molfetta (BA) ITALIA</a>
        <a href="mailto:info@santaceciliamolfetta.it" target="_blank" class="company-data" title="Scrivici una mail">
            info@santaceciliamolfetta.it
        </a>
        </p>

        <hr>
        <div class="credit">
          Made with <span style="color: #e25555;">&#9829;</span> by <a class="red-link" href="http://pasqlisena.github.io/" target="_blank">Pasquale</a> - <small>v 2.0.0</small></p>
        </div>
      </div>
  </footer>

  <script src="scripts/main.js"></script>
