<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Il Gran Complesso Bandistico Santa Cecilia - Citt&agrave; di Molfetta accompagna con la sua musica le tradizioni e la vita della Citt&agrave; di Molfetta e non solo. Attivo da circa 20 anni, vanta un organico composto da oltre 40 elementi, per la maggior parte giovani musicisti molfettesi.">
<meta name="keywords" content="Banda,Complesso,Bandistico,Santa,Cecilia,Molfetta,BA,Bari,Puglia,Orchestra,Fiati,Marce,Funebri,Sinfoniche,Concerto">
<meta name="robots" content="NOODP">
<link rel="canonical" href="http://www.santaceciliamolfetta.it" />

<link rel="stylesheet" type="text/css" href="css/styles.css">

<!-- icon -->
<link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="img/favicon/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="manifest.json">
<link rel="shortcut icon" href="img/favicon/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Banda S. Cecilia">
<meta name="application-name" content="Banda S. Cecilia">
<meta name="msapplication-TileColor" content="#ca4646">
<meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
<meta name="msapplication-config" content="browserconfig.xml">
<meta name="theme-color" content="#ca4646">

<!-- social tags -->
<meta property="og:title" content='{{page.title}}' />
<meta property="og:type" content="website" />
<meta property="og:site_name" content='Associazione Culturale Musicale "Santa Cecilia - Citt&agrave; di Molfetta"' />
<meta property="og:locale" content="it_IT" />
<meta property="og:image" content="http://www.santaceciliamolfetta.it/img/photos/banda_crop.jpg" />
<meta property="og:url" content="http://www.santaceciliamolfetta.it" />
<meta property="og:description" content="Il Gran Complesso Bandistico Santa Cecilia - Citt&agrave; di Molfetta accompagna con la sua musica le tradizioni e la vita della Citt&agrave; di Molfetta e non solo. Attivo da circa 20 anni, vanta un organico composto da oltre 40 elementi, per la maggior parte giovani musicisti molfettesi.">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@PasqLisena">
<meta name="twitter:creator" content="@PasqLisena">
<meta name="twitter:title" content='Ass. Culturale Musicale "Santa Cecilia - Citt&agrave; di Molfetta"'>
<meta name="twitter:description" content="Il Gran Complesso Bandistico Santa Cecilia - Citt&agrave; di Molfetta accompagna con la sua musica le tradizioni e la vita della Citt&agrave; di Molfetta e non solo.">
<meta name="twitter:image" content="http://www.santaceciliamolfetta.it/img/photos/cover-pic.jpg">
