<div class="popup">
    <header>
        <a class="mfp-close"></a>
    </header>
    <div class="content">
        <p>Progettato e realizzato da</p>
        <ul>
            <li><a class="red-link" href="http://pasqlisena.github.io/" target="_blank">Pasquale Lisena</a></li>
            <li><a class="red-link" href="https://it.linkedin.com/pub/domenico-petruzzella/80/235/b55" target="_blank">Domenico Petruzzella</a></li>

        </ul>
        <p>Si ringrazia inoltre per i contenuti Margherita Cal&ograve;.</p>
        <hr>
        <p>
            Tutti i contenuti di questo sito sono da intendersi, salvo ove diversamente specificato, di propriet&agrave;
            dell'Associazione Culturale Musicale "Santa Cecilia - Citt&agrave di Molfetta".
        </p>

        <p>
            L'Associazione ne concede l'utilizzo a terzi al fine esclusivo di documentare o promuovere l'Associazione
            stessa
            e\o le sue attivit&agrave;.
        </p>
        <p><small>v 1.0.0</small></p>
    </div>
</div>
