<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <title>{{page.title}} | Santa Cecilia - Citt&agrave; di Molfetta</title>

  {% include metas.html %}

</head>

<body>

  {% include header.html %}

  <section id="cover">
    <div class="main">
      <div class="background" style="background-image: url('img/photos/cover-pic.jpg')"></div>
      <h1>
        <small>Associazione Culturale Musicale</small>
        <span>Santa Cecilia</span><span>Citt&agrave; di Molfetta</span>
        </h1>
    </div>
    <div class="social-engage-cont">
      <div class="left facebook">
        <a href="https://www.facebook.com/sceciliamolfetta" target="_blank">
          <span class="verb">seguici su</span> facebook
          <span class="mdi mdi-chevron-right"></span>
        </a>
      </div>
      <div class="right youtube">
        <a href="https://www.youtube.com/channel/UCC3dMySkby9c7uyYBavzIgA" target="_blank">
          <span class="verb">guardaci su</span> youtube
          <span class="mdi mdi-chevron-right"></span>
        </a>
      </div>
    </div>
    <div class="logo-big" id="logo-big">
      <div class="logo-big-in">
        <img loading="lazy" class="lazyload" data-src="img/logos/logo.png">
      </div>
    </div>
  </section>


  <div class="container">
    {{ content }}
  </div>

  {% include footer.html %}


</body>

</html>
